@use './../utils'as *;

// @custom-selector :--home-section-title .book__title,
// .news__title;

.homeMain {

  // 섹션 공통 여백
  .book,
  .news,
  .board,
  .favorite,
  .twitter {
    margin: rem(24px) 0;
  }

  // 섹션 공통 제목 스타일
  [class*="__title"] {
    @include flexbox(column, center);
    font-size: rem(20px);
    font-weight: 500;
    // min-height: rem(60px);
    // padding-left: rem(64px);
    margin-bottom: rem(16px);
    background-color: yellow;
  }

  // 섹션 영문 제목 공통 스타일
  [class*="__enTitle"] {
    // display: block;
    font-size: rem(14px);
    margin-top: rem(4px);
  }

  // 섹션 본문 공통 스타일
  [class*="__summary"] {
    line-height: 1.5;
  }

  // 아이콘 공통
  .far,
  .fas {
    margin-right: rem(8px);
  }

  // 추천 서적
  .book {

    &__cover {
      width: 50%;
      text-align: center;
      @include autoMargin;
    }

    &__coverCaption {
      margin: rem(16px) 0;
    }

    &__coverImage {
      @include responsive;
    }

    &__info {
      text-align: center;

      * {
        display: inline-block;
      }

      .ratingStar {
        display: block;
        color: $green;
        font-size: rem(24px);
        margin: rem(8px) rem(16px);
      }
    }
  }

  // 새소식
  .news {
    &__videoContainer {
      margin-bottom: rem(16px);
    }

    &__video {
      @include responsive(width);
    }

    &__iframeContainer {
      @include responsiveIframe(16, 9);
    }

    &__date {
      display: block;
      text-align: right;
      margin-top: rem(8px);
    }
  }

  // 게시판
  .board {
    position: relative;

    &__item {
      @include flexbox(row, space-between);
      margin: rem(8px) 0;
    }

    &__link {
      display: block;
      padding: rem(8px) 0;
      @include ellipsis;
      margin-right: rem(8px);
    }

    &__date {
      white-space: nowrap;
      padding: rem(8px) 0;
      vertical-align: baseline;
    }

    &__more {
      position: absolute;
      top: rem(4px);
      right: 0;
      padding: rem(8px) 0;
    }
  }

  //인기 사이트
  .favorite {
    &__item {
      margin: rem(8px) 0;
    }
    &__link {
      display: block;
      padding: rem(8px) 0;
      
      @include mobile {
        &::after {
          position: relative;
          top: rem(4px);
          content: attr(data-tooltip);
          margin-left: rem(8px);
          display: inline-block;
          color: $orange;
          font-size: clamp(0.75rem, 4vw, 1.125rem);
          @include ellipsis;
        }
      }
    }
  }

  @include mobile {
    padding: 0 rem(20px);
  }

  @include desktop {
    @include boxSizeMax($paddingX: rem(20px));
    // background-color: blue;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "news news news news news news news news news news news news"
      "book book book book favorite favorite favorite twitter twitter twitter twitter twitter"
      "book book book book . board board board board board board board";

    .book {
      // grid-area: 2 / 1 / 4 / 5;
      grid-area: book;
    }

    .news {
      // grid-area: 1 / 1 / 2 / 13;
      // column 개수 + 1
      grid-area: news;
    }

    .board {
      // grid-area: 3 / 6 / 4 / 13;
      grid-area: board;
    }

    .favorite {
      // grid-area: 2 / 5 / 3 / 9;
      grid-area: favorite;
    }

    .twitter {
      // grid-area: 2 / 8 / 3 / 13;
      grid-area: twitter;
    }
  }
}