@use './../utils'as *;
@use './../components'as *;

.appFooter {
  background-color: $darkbrown;
  color: $white;
  padding: rem(32px);
  line-height: 1.5;
  // font-size: rem(14px);

  @at-root .address span {
    @include mobile {
      display: block;
    }
  }

  @at-root .copyright {
    font-size: rem(16px);
    display: block;
    margin-top: rem(16px);
    text-transform: uppercase;
  }

  @include desktop {
    text-align: center;
  }
}